In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\adity\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\adity\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\adity\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\adity\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\adity\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\adity\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [12]:
# Read the CSV file into a DataFrame
df = pd.read_csv("C:\Users\adity\Downloads\one_Sample_Dataset - Sample_Dataset.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1056448128.py, line 2)

In [13]:
df

,s,Product,Quantity Ordered,Price Each,Order Date,date,time,Purchase Address
0,176768,Wired Headphones,1,11.99,04/04/19 0:03,4/4/2019,12:03:00 AM,"643 Spruce St, Los Angeles, CA 90001"
1,176826,Bose SoundSport Headphones,1,99.99,04/11/19 0:15,4/11/2019,12:15:00 AM,"72 Meadow St, San Francisco, CA 94016"
2,176575,AAA Batteries (4-pack),1,2.99,04/27/19 0:30,4/27/2019,12:30:00 AM,"433 Hill St, New York City, NY 10001"
3,176580,USB-C Charging Cable,1,11.95,04/05/19 0:35,4/5/2019,12:35:00 AM,"886 Willow St, Los Angeles, CA 90001"
4,176676,LG Dryer,1,600,04/09/19 0:35,4/9/2019,12:35:00 AM,"788 Lincoln St, Los Angeles, CA 90001"
...,...,...,...,...,...,...,...,...
186834,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,NaN,NaN,"840 Highland St, Los Angeles, CA 90001"
186835,259354,iPhone,1,700,09/01/19 16:00,NaN,NaN,"216 Dogwood St, San Francisco, CA 94016"
186836,259355,iPhone,1,700,09/23/19 7:39,NaN,NaN,"220 12th St, San Francisco, CA 94016"
186837,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,NaN,NaN,"511 Forest St, San Francisco, CA 94016"
186838,259357,USB-C Charging Cable,1,11.95,09/30/19 0:18,NaN,NaN,"250 Meadow St, San Francisco, CA 94016"

In [14]:
# Specific value to remove
value_to_remove = "Product"

# Filter rows where column 'A' is not equal to value_to_remove
df_filtered = df[df['Product'] != value_to_remove]

In [24]:
# Save the filtered DataFrame to a new CSV file
# Drop rows where all values are NaN (blank rows)
df_filtered = df_filtered.dropna(how='all')


df_filtered.to_csv('filtereddata.csv', index=False)

In [25]:
df_filtered

,s,Product,Quantity Ordered,Price Each,Order Date,date,time,Purchase Address
0,176768,Wired Headphones,1,11.99,04/04/19 0:03,4/4/2019,12:03:00 AM,"643 Spruce St, Los Angeles, CA 90001"
1,176826,Bose SoundSport Headphones,1,99.99,04/11/19 0:15,4/11/2019,12:15:00 AM,"72 Meadow St, San Francisco, CA 94016"
2,176575,AAA Batteries (4-pack),1,2.99,04/27/19 0:30,4/27/2019,12:30:00 AM,"433 Hill St, New York City, NY 10001"
3,176580,USB-C Charging Cable,1,11.95,04/05/19 0:35,4/5/2019,12:35:00 AM,"886 Willow St, Los Angeles, CA 90001"
4,176676,LG Dryer,1,600,04/09/19 0:35,4/9/2019,12:35:00 AM,"788 Lincoln St, Los Angeles, CA 90001"
...,...,...,...,...,...,...,...,...
186834,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,NaN,NaN,"840 Highland St, Los Angeles, CA 90001"
186835,259354,iPhone,1,700,09/01/19 16:00,NaN,NaN,"216 Dogwood St, San Francisco, CA 94016"
186836,259355,iPhone,1,700,09/23/19 7:39,NaN,NaN,"220 12th St, San Francisco, CA 94016"
186837,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,NaN,NaN,"511 Forest St, San Francisco, CA 94016"
186838,259357,USB-C Charging Cable,1,11.95,09/30/19 0:18,NaN,NaN,"250 Meadow St, San Francisco, CA 94016"

In [32]:
df=df_filtered.drop(columns=['date','time'])

In [33]:
df['Order Date']=pd.to_datetime(df['Order Date'])
df['date']=df['Order Date'].dt.date
df['time'] = df['Order Date'].dt.time

C:\Users\adity\AppData\Local\Temp\ipykernel_7232\811669903.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order Date']=pd.to_datetime(df['Order Date'])

,s,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,date,time
0,176768,Wired Headphones,1,11.99,2019-04-04 00:03:00,"643 Spruce St, Los Angeles, CA 90001",2019-04-04,00:03:00
1,176826,Bose SoundSport Headphones,1,99.99,2019-04-11 00:15:00,"72 Meadow St, San Francisco, CA 94016",2019-04-11,00:15:00
2,176575,AAA Batteries (4-pack),1,2.99,2019-04-27 00:30:00,"433 Hill St, New York City, NY 10001",2019-04-27,00:30:00
3,176580,USB-C Charging Cable,1,11.95,2019-04-05 00:35:00,"886 Willow St, Los Angeles, CA 90001",2019-04-05,00:35:00
4,176676,LG Dryer,1,600,2019-04-09 00:35:00,"788 Lincoln St, Los Angeles, CA 90001",2019-04-09,00:35:00
...,...,...,...,...,...,...,...,...
186834,259353,AAA Batteries (4-pack),3,2.99,2019-09-17 20:56:00,"840 Highland St, Los Angeles, CA 90001",2019-09-17,20:56:00
186835,259354,iPhone,1,700,2019-09-01 16:00:00,"216 Dogwood St, San Francisco, CA 94016",2019-09-01,16:00:00
186836,259355,iPhone,1,700,2019-09-23 07:39:00,"220 12th St, San Francisco, CA 94016",2019-09-23,07:39:00
186837,259356,34in Ultrawide Monitor,1,379.99,2019-09-19 17:30:00,"511 Forest St, San Francisco, CA 94016",2019-09-19,17:30:00
186838,259357,USB-C Charging Cable,1,11.95,2019-09-30 00:18:00,"250 Meadow St, San Francisco, CA 94016",2019-09-30,00:18:00

In [34]:
df

,s,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,date,time
0,176768,Wired Headphones,1,11.99,2019-04-04 00:03:00,"643 Spruce St, Los Angeles, CA 90001",2019-04-04,00:03:00
1,176826,Bose SoundSport Headphones,1,99.99,2019-04-11 00:15:00,"72 Meadow St, San Francisco, CA 94016",2019-04-11,00:15:00
2,176575,AAA Batteries (4-pack),1,2.99,2019-04-27 00:30:00,"433 Hill St, New York City, NY 10001",2019-04-27,00:30:00
3,176580,USB-C Charging Cable,1,11.95,2019-04-05 00:35:00,"886 Willow St, Los Angeles, CA 90001",2019-04-05,00:35:00
4,176676,LG Dryer,1,600,2019-04-09 00:35:00,"788 Lincoln St, Los Angeles, CA 90001",2019-04-09,00:35:00
...,...,...,...,...,...,...,...,...
186834,259353,AAA Batteries (4-pack),3,2.99,2019-09-17 20:56:00,"840 Highland St, Los Angeles, CA 90001",2019-09-17,20:56:00
186835,259354,iPhone,1,700,2019-09-01 16:00:00,"216 Dogwood St, San Francisco, CA 94016",2019-09-01,16:00:00
186836,259355,iPhone,1,700,2019-09-23 07:39:00,"220 12th St, San Francisco, CA 94016",2019-09-23,07:39:00
186837,259356,34in Ultrawide Monitor,1,379.99,2019-09-19 17:30:00,"511 Forest St, San Francisco, CA 94016",2019-09-19,17:30:00
186838,259357,USB-C Charging Cable,1,11.95,2019-09-30 00:18:00,"250 Meadow St, San Francisco, CA 94016",2019-09-30,00:18:00

In [37]:
# Convert the 'date' column to datetime type
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
df['day'] = df['date'].dt.day
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year

In [38]:
df

,s,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,date,time,day,month,year
0,176768,Wired Headphones,1,11.99,2019-04-04 00:03:00,"643 Spruce St, Los Angeles, CA 90001",2019-04-04,00:03:00,4,4,2019
1,176826,Bose SoundSport Headphones,1,99.99,2019-04-11 00:15:00,"72 Meadow St, San Francisco, CA 94016",2019-04-11,00:15:00,11,4,2019
2,176575,AAA Batteries (4-pack),1,2.99,2019-04-27 00:30:00,"433 Hill St, New York City, NY 10001",2019-04-27,00:30:00,27,4,2019
3,176580,USB-C Charging Cable,1,11.95,2019-04-05 00:35:00,"886 Willow St, Los Angeles, CA 90001",2019-04-05,00:35:00,5,4,2019
4,176676,LG Dryer,1,600,2019-04-09 00:35:00,"788 Lincoln St, Los Angeles, CA 90001",2019-04-09,00:35:00,9,4,2019
...,...,...,...,...,...,...,...,...,...,...,...
186834,259353,AAA Batteries (4-pack),3,2.99,2019-09-17 20:56:00,"840 Highland St, Los Angeles, CA 90001",2019-09-17,20:56:00,17,9,2019
186835,259354,iPhone,1,700,2019-09-01 16:00:00,"216 Dogwood St, San Francisco, CA 94016",2019-09-01,16:00:00,1,9,2019
186836,259355,iPhone,1,700,2019-09-23 07:39:00,"220 12th St, San Francisco, CA 94016",2019-09-23,07:39:00,23,9,2019
186837,259356,34in Ultrawide Monitor,1,379.99,2019-09-19 17:30:00,"511 Forest St, San Francisco, CA 94016",2019-09-19,17:30:00,19,9,2019
186838,259357,USB-C Charging Cable,1,11.95,2019-09-30 00:18:00,"250 Meadow St, San Francisco, CA 94016",2019-09-30,00:18:00,30,9,2019